body{
    box-sizing: border-box;
    background: #c2c2d6;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.calculator{
    background: black;
    border: 2px solid grey;
    width: 320px;
    position: relative;
    padding: 5px;
}
